<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a News Article with Natural Language Processing (NLP)</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!-- <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="form" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="Enter Article URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section id="form-results">
                <h2 id="results">Form Results</h2>
                <div class="result-item">
                    <span class="result-label">Score:</span>
                    <span id="score_tag" class="result-value"></span>
                </div>
                <div class="result-item">
                    <span class="result-label">Agreement:</span>
                    <span id="agreement" class="result-value"></span>
                </div>
                <div class="result-item">
                    <span class="result-label">Subjectivity:</span>
                    <span id="subjectivity" class="result-value"></span>
                </div>
                <div class="result-item">
                    <span class="result-label">Confidence:</span>
                    <span id="confidence" class="result-value"></span>
                </div>
                <div class="result-item">
                    <span class="result-label">Irony:</span>
                    <span id="irony" class="result-value"></span>
                </div>
            </section>
        </main>
        <footer id="footer">
            <p>Built by <a href="https://www.linkedin.com/in/kevin-peery/" target="_blank"><i class="fab fa-linkedin"></i></a> Kevin Peery</p>
        </footer>
        <!-- Reference: https://knowledge.udacity.com/questions/699570 -->
        <script>
            // Check that service workers are supported
            if ("serviceWorker" in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener("load", () => {
                navigator.serviceWorker.register("/service-worker.js");
              });
            }
          </script>
    </body>
</html>
